# *Programmers* - 숫자의 표현 `Level 4`

수학을 공부하던 민지는 재미있는 사실을 발견하였습니다. 그 사실은 바로 연속된 자연수의 합으로 어떤 숫자를 표현하는 방법이 여러 가지라는 것입니다. 예를 들어, 15를 표현하는 방법은<br />
(1+2+3+4+5)<br />
(4+5+6)<br />
(7+8)<br />
(15)<br />
로 총 4가지가 존재합니다. 숫자를 입력받아 연속된 수로 표현하는 방법을 반환하는 expressions 함수를 만들어 민지를 도와주세요. 예를 들어 15가 입력된다면 4를 반환해 주면 됩니다.

In [18]:
def expressions(num):
    count=2 
    for n in range(3,num//2): 
        arr = list((num//n)+i for i in range(2-n,n-1))
        if sum(arr) != num or arr[0]<1:
            break
        else :
            print(arr)
            count+=1
    return count
    

# 아래는 테스트로 출력해 보기 위한 코드입니다.
print(expressions(15))

[4, 5, 6]
[1, 2, 3, 4, 5]
4

In [6]:
def expressions(num):
    cursor1 = 1
    cursor2 = 2
    count = 0
    
    while cursor2 != (num//2) + (num%2) + 2:
        arr=list(range(cursor1,cursor2))
        if sum(arr) == num:
            count+=1
            cursor1+=1
        elif sum(arr) > num:
            cursor1+=1
        elif sum(arr) < num:
            cursor2+=1
            
    return count
    
print(expressions(15))

1 2
1 3
1 4
1 5
1 6
2 6
2 7
3 7
4 7
5 7
5 8
6 8
6 9
7 9
8 9
3

In [2]:
num=15

(num//2) + (num%2)

8

In [218]:
ddd=15
n=3

arr = list((ddd//n)+i for i in range(2-n,n-1))
if arr[0]<1:
    print("NO")
else :
    print(arr)

[4, 5, 6]

In [209]:
n-1

3

In [202]:
-1,2 n==3

(-1, 2)

In [ ]:
-2,3 n==4